<h1><%= @restaurant.name.capitalize %></h1>

<div class="container">
  <div class="box">
    <h2>I haz your code bwahahah</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, rerum? Consectetur sint modi id rem officia explicabo aspernatur cum repellat, impedit architecto, molestiae culpa omnis, quam possimus voluptatum dolorem quis!</p>
  </div>
</div>
